.section {
  margin: 32px 0;
  align-items: start;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  margin: 4px;
  margin-left: 48px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 12px;
  padding: 10px 0;
    scrollbar-width: none;         /* Firefox */
  -ms-overflow-style: none;   
}
.carousel::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}
.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 16px;
  width: 100%;
  
}

.arrow {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 2;
  padding: 4px;
}
